// Stage settings
$stage-width: 300;
$stage-height: 250;
// Content settings
$content-x: 0;
$content-y: 67;
$content-width: 300;
$content-height: 182;
// Video settings
$video-x: 0;
$video-y: 68;
$video-width: 300;
$video-height: 182;



