@mixin image-el($url, $left:"", $top:"", $width:"", $height:"", $zIndex:"") {
  position: absolute;
  @if $left != "" {
    left: $left + px;
  }
  @if $top != "" {
    top: $top + px;
  }
  @if $width != "" {
    width: $width + px;
  }
  @if $height != "" {
    height: $height + px;
  }
  @if $zIndex != "" {
    z-index: $zIndex;
  }
  background: url($url) no-repeat;
}

@mixin image-button-el($url, $urlHover:"", $left:"", $top:"", $width:"", $height:"", $zIndex:"") {
  @include image-el($url, $left, $top, $width, $height, $zIndex);
  @if $urlHover != "" {
    &:hover {
      background: url($urlHover) no-repeat;
    }
  }
  cursor: pointer;
  cursor: hand;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin color-btn-base($img, $borderColor,  $z-index) {
  @include border-radius(2px);
  position: absolute;
  width: 38px;
  height: 38px;
  cursor: pointer;
  cursor: hand;
  background: url($img) no-repeat;
  &:hover {
    //box-sizing: content-box;
    //border: 1px solid $borderColor;
    //@include box-shadow(0, 0, 8px, rgba(0, 0, 0, 0.5));
    //@include box-shadow(0, 0, 1px, rgba(255, 255, 255, 1));

    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1), 0 0 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1), 0 0 8px 1px rgba(0, 0, 0, 0.3);;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1), 0 0 8px 1px rgba(0, 0, 0, 0.3);
  }
}

// Retina images
@mixin image-el-retina($image, $retinaImage, $width, $height) {
  background-image: url($image);
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($retinaImage);
    background-size: $width $height;
  }
}

// Retina images
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

// Retina images
@mixin sprite-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin svg-el($url, $left:"", $top:"", $width:"", $height:"", $zIndex:"") {
  position: absolute;
  @if $left != "" {
    left: $left + px;
  }
  @if $top != "" {
    top: $top + px;
  }
  @if $width != "" {
    width: $width + px;
  }
  @if $height != "" {
    height: $height + px;
  }
  @if $zIndex != "" {
    z-index: $zIndex;
  }
  background: url($url) no-repeat;
  background-size: contain;
}

// Maintain Aspect Ratio Mixin
/* Example:

<div class="sixteen-nine">
  <div class="content">
    insert content here
    this will maintain a 16:9 aspect ratio
  </div>
</div>

.sixteen-nine {
  @include aspect-ratio(16, 9);
}
*/

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// breakpoint
// example @include bp(940px) { width:80%; }
//
@mixin bp($size, $mobile-first: false) {
  @if ($mobile-first==true) {
    @media only screen and (min-width: $size) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $size) {
      @content;
    }
  }
}

//alias for bp
@mixin when($size, $mobile-first: false) {
  @if ($mobile-first==true) {
    @media only screen and (min-width: $size) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $size) {
      @content;
    }
  }
}

// size
//
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}