// Stage settings
$stage-width: 970;
$stage-height: 250;
// Content settings
$content-x: 0;
$content-y: 0;
$content-width: 790;
$content-height: 250;
// Video settings
$video-x: 0;
$video-y: 0;
$video-width: 790;
$video-height: 250;



