/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

//* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Default style, feel free to remove if not needed. */
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  // Disable mobile browser click/touch/tap feedback box
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Fix sub and sup, due to css reset */
sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}

#pag-spinner {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26"><defs><g id="_Porsche_Common_LoaderAnimation_Porsche_LoaderAnimation_OuterRing_0_Layer0_0_FILL"><path fill="#CCCCCC" stroke="none" d="M 13 4L 13 0Q 7.6330078125 -0.0005859375 3.8 3.75L 3.75 3.8Q -0.0005859375 7.6330078125 0 13L 4 13Q 4.0005859375 9.2845703125 6.6 6.6L 6.6 6.6Q 9.2845703125 4.0005859375 13 4M 22.2 22.2Q 26.0005859375 18.3669921875 26 13L 22 13Q 21.99921875 16.7154296875 19.4 19.35L 19.35 19.4Q 16.7154296875 21.99921875 13 22L 13 26Q 18.3669921875 26.0005859375 22.2 22.2L 22.2 22.2 Z"/></g><g id="_Porsche_Common_LoaderAnimation_Porsche_LoaderAnimation_InnerRing_0_Layer0_0_FILL"><path fill="#666666" stroke="none" d="M 2.7 8L 0 8Q 0 11.3 2.35 13.65 4.75 16 8 16L 8 13.35Q 5.85 13.35 4.25 11.75 2.7 10.2 2.7 8M 16 8Q 16 4.75 13.65 2.35 11.3 0 8 0L 8 2.7Q 10.2 2.7 11.75 4.25 13.35 5.85 13.35 8L 16 8 Z"/></g></defs><g transform="matrix( 1, 0, 0, 1, 0,0) "><animateTransform attributeName="transform" type="rotate" from="0 13 13" to="360 13 13" dur="1s" repeatDur="indefinite"/><use xlink:href="#_Porsche_Common_LoaderAnimation_Porsche_LoaderAnimation_OuterRing_0_Layer0_0_FILL"/></g><g transform="matrix( 1, 0, 0, 1, 5,5) "><g transform="matrix( 1, 0, 0, 1, 0,0) "><animateTransform attributeName="transform" type="rotate" from="0 8 8" to="-360 8 8" dur="1s" repeatDur="indefinite"/><use xlink:href="#_Porsche_Common_LoaderAnimation_Porsche_LoaderAnimation_InnerRing_0_Layer0_0_FILL"/></g></g></svg>');
  background-repeat: no-repeat;
  position: absolute;
  width: 26px;
  height: 26px;
  left: ($stage-width - 26) / 2 + $content-x + px;
  top: ($stage-height  - 26) / 2 +  $content-y + px;
  //z-index: $depth-spinner;
}

#main-container {
  position: absolute;
  width: $stage-width + px;
  height: $stage-height + px;
  overflow: hidden;
  border: 1px solid $color-border;
  background-color: #000000;
  background-clip: border-box;

  #logo {
    cursor: pointer;
    cursor: hand;
  }
}