/**
 * 300x600
 */
#main-container {
  #polite {
    .content {
      top: 68px;
      .copy-container {
        float: none;
        position: absolute;
        margin-top: 49px;
        margin-right: 14px;
        h1 {
          float: right;
          line-height: 32px;
          text-align: right;
        }
        .subhead {
          position: relative;
          float: right;
          margin: 10px 0 0 0;
          @include retina-sprite($subhead-group);
        }
      }
      .btn-container {
        .icon-plus {
          border-radius: 13px;
          -webkit-border-radius: 13px;
          -moz-border-radius: 13px;
          width: 26px;
          height: 26px;
        }
        .icon-plus:after {
          width: 12px;
          height: 2px;
          top: 12px;
          left: 7px;
        }
        .icon-plus:before {
          width: 2px;
          height: 12px;
          top: 7px;
          left: 12px;
        }
        #connect-btn {
          left: 124px;
          top: 309px;
        }
        #e-perform-btn {
          left: 236px;
          top: 244px;
        }
        #restart-btn {
          position: absolute;
          width: 22px;
          height: 22px;
          bottom: 27px;
          left: 12px;
        }
        #cta-btn {
          @extend %pag-ui-cta;
          opacity: 0;
          // grün
          background-color: #c2d117;
          text-align: center;
          width: 150px;
          height: 36px;
          top: 367px;
          left: 133px;
          pointer-events: all;
          &:hover {
            background-color: #fff;
            .btn-label {
              color: #c2d117;
            }
            .arrow {
              @include retina-sprite($cta-arrow-group);
            }
          }
          .btn-label {
            position: absolute;
            left: 20px;
            top: 9px;
            color: #fff;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
          .arrow {
            position: absolute;
            left: 125px;
            top: 13px;
            @include retina-sprite($cta-arrow-hover-group);
          }
        }
      }
      .layer-container {
        z-index: 100;
        .layer {
          h1 {
            left: 36px;
            top: 67px;
            line-height: 32px;
          }
          p {
            left: 36px;
            top: 147px;
          }
          .close-btn {
            width: 20px;
            height: 20px;
            right: 20px;
            top: 20px;
          }
        }
        #e-perform-layer {
          h1 {
          }
          p {
            top: 150px;
          }
        }
        #connect-layer {
          h1 {
          }
          p {
            top: 115px;
          }
        }
      }
      footer {
        left: 42px;
        bottom: 17px;
        font-size: 10.4px;
        line-height: 14px;
        letter-spacing: -0.20px;
      }
    }
    .logo-container {
      position: absolute;
    }
  }
}
