// Z-Index Settings
//$depth-polite: 100;
//$depth-spinner: 4000;
//$depth-outline: 5000;


// Color Setting
$color-primary: #575a5d;
$color-secondary: #cc0000;
$color-border: #c4c4c4;

// Breakpoint



