.content {
  position: relative;
  float: left;
  width: $content-width + px;
  height: $content-height + px;
  background: url('../images/bg.jpg') no-repeat;
  .copy-container {
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    h1 {
      position: relative;
      letter-spacing: 0.02rem;
    }
    .subhead {
      position: relative;
      float: right;
      margin-top: 3px;
      @include retina-sprite($subhead-group);
    }
  }

  #restart-btn {
    @extend %pag-ui-restart;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 13px;
    left: 15px;
  }

  footer {
    position: absolute;
    font-size: 0.55rem;
    //font-size: 9px;
    left: 20px;
    bottom: 15px;
    cursor: default;

  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    footer {
      font-size: 0.61rem;
      //font-size: 10px;
    }
  }
}