body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: $stage-width + px;
  height: $stage-height + px;
  font-family: $base-font;
}

// Preloading hover and inactive images
body:after {
  display: none;
  //content: url('../images/') url('../images/dragger-hover-2x.png');
}

h1 {
  //position: absolute;
  position: relative;
  font-family: $hl-font;
  font-size: 28px;
  font-size: 28px;
  font-weight: normal;
  cursor: default;
}

p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.5px;
  letter-spacing: -0.15px;
  line-height: 22px;
  cursor: default;
}

.cls-1 {
  fill: #fff;
  fill-rule: evenodd;
}

.icon-plus {
  position: absolute;
  //background-color: #3e4146;
  background-color: #c2d117;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  cursor: hand;

}

.icon-plus:after {
  background-color: #fff;
  width: 16px;
  height: 2px;
  position: absolute;
  top: 19px;
  left: 12px;
  content: "";
}

.icon-plus:before {
  background-color: #fff;
  width: 2px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 19px;
  content: "";
}

#main-container {
  color: #ffffff;
  #polite {
    position: relative;
    width: $stage-width + px;
    height: $stage-height + px;
    //pointer-events: none;
    .logo-container {
      opacity: 0;
      position: relative;
      float: right;
      width: 180px;
      height: $stage-height + px;
      @include retina-sprite($logo-group);
      #cta-btn {
        @extend %pag-ui-cta;
        opacity: 0;
        background-color: #3e4146;
        //background-color: $pag-color-secondary;
        text-align: center;
        width: 140px;
        height: 36px;
        top: 194px;
        left: 19px;
        pointer-events: all;
        &:hover {
          color: #000;
          // grün
          background-color: #c2d117;
          .btn-label {
            color: #fff;
          }
          .arrow {
            @include retina-sprite($cta-arrow-hover-group);
          }
        }
        .btn-label {
          position: absolute;
          left: 19px;
          top: 10px;
          color: #c2d117;
          //color: #fff;
          font-size: 14px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        .arrow {
          position: absolute;
          left: 119px;
          top: 13px;
          @include retina-sprite($cta-arrow-group);
        }
      }
    }
  }
}



