$font-path: '../fonts/';
$base-font: Arial, Helvetica, sans-serif;
$hl-font: 'frank_goth_cn_gdi';

@font-face {
  font-family: 'frank_goth_cn_gdi';
  src: url('../fonts/FrankGothforPorscheW02-Cn.eot');
  src: url('../fonts/FrankGothforPorscheW02-Cn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FrankGothforPorscheW02-Cn.woff') format('woff');

  //src: url('../fonts/FrankGothforPorscheW01-Cn_gdi.eot');
  //src: url('../fonts/FrankGothforPorscheW01-Cn_gdi.eot?#iefix') format('embedded-opentype'),
  //url('../fonts/FrankGothforPorscheW01-Cn_gdi.woff') format('woff');

  //src: url('../fonts/FrankGothforPorscheW01-Cn.eot');
  //src: url('../fonts/FrankGothforPorscheW01-Cn.eot?#iefix') format('embedded-opentype'),
  //url('../fonts/FrankGothforPorscheW01-Cn.woff') format('woff');
  //
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'news_goth_reg';
//  src: url('../fonts/NewsGothforPorscheW02-Reg.eot');
//  src: url('../fonts/NewsGothforPorscheW02-Reg.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/NewsGothforPorscheW02-Reg.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}