.layer-container {
  .layer {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: #ffffff;
    width: $content-width + px;
    height: $content-height + px;
    background-color: rgba(0, 0, 0, 0.8);
    .close-btn {
      position: absolute;
      background: none;
      width: 20px;
      height: 20px;
      right: 30px;
      top: 30px;
      pointer-events: visible;
      cursor: pointer;
      cursor: hand;
      svg, path {
        pointer-events: none;
      }
    }
  }
  #e-perform-layer {
    background: url('../images/bg-layer1.jpg') no-repeat;
  }
  #connect-layer {
    background: url('../images/bg-layer2.jpg') no-repeat;
  }
}