%shadowed {
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1,Color='#fff')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}

%base-ui-button {
  //@extend %shadowed;
  position: absolute;
  width: 30px;
  height: 30px;
}

#video-container {
  position: absolute;
  left: $content-x + px;
  top: $content-y + px;
  width: $content-width + px;
  height: $content-height + px;
  //z-index: $depth-video;
  overflow: hidden;
  background-color: #000000;

  #video-poster {
    @include image-el('../images/video-poster.jpg', '', '', $video-width, $video-height);
  }

  video {
    //pointer-events: none;
  }

  #progress-ui {
    position: absolute;
    bottom: -1px;
    width: $content-width + px;
    height: 3px;
    #progress-bar {
      position: absolute;
      height: 3px;
      bottom: 2px;
      background-color: #CC0000;
    }
    #total-bar {
      @extend #progress-bar;
      width: $content-width + px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  #video-ui {
    position: absolute;
    left: 15px;
    bottom: 43px;
    #play-btn {
      @extend %base-ui-button;
      @extend %pag-ui-play;
      z-index: 4;
      width: 70px;
      height: 70px;
      //background: url('../../assets/images/btn-play-default.svg') no-repeat;
      &:hover {
        //background: url('../../assets/images/btn-play-hover.svg') no-repeat;
      }
    }

    #pause-btn {
      @extend %base-ui-button;
      @extend %pag-ui-pause;
      z-index: 1;
      //background: url('../../assets/images/btn-pause-default.svg') no-repeat;
      &:hover {
        //background: url('../../assets/images/btn-pause-hover.svg') no-repeat;
      }
    }

    #sound-mute-btn {
      @extend %base-ui-button;
      @extend %pag-ui-mute;
      z-index: 5;
      left: 40px;
      //background: url('../../assets/images/btn-mute-default.svg') no-repeat;
      &:hover {
        //background: url('../../assets/images/btn-mute-hover.svg') no-repeat;
      }
    }

    #sound-unmute-btn {
      @extend %base-ui-button;
      @extend %pag-ui-unmute;
      z-index: 5;
      left: 40px;
      //background: url('../../assets/images/btn-unmute-default.svg') no-repeat;
      &:hover {
        //background: url('../../assets/images/btn-unmute-hover.svg') no-repeat;
      }
    }
  }
}