/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$cta-arrow-hover-name: 'cta-arrow-hover';
$cta-arrow-hover-x: 128px;
$cta-arrow-hover-y: 68px;
$cta-arrow-hover-offset-x: -128px;
$cta-arrow-hover-offset-y: -68px;
$cta-arrow-hover-width: 6px;
$cta-arrow-hover-height: 10px;
$cta-arrow-hover-total-width: 300px;
$cta-arrow-hover-total-height: 84px;
$cta-arrow-hover-image: '../images/sprite.png';
$cta-arrow-hover: (128px, 68px, -128px, -68px, 6px, 10px, 300px, 84px, '../images/sprite.png', 'cta-arrow-hover', );
$cta-arrow-name: 'cta-arrow';
$cta-arrow-x: 134px;
$cta-arrow-y: 68px;
$cta-arrow-offset-x: -134px;
$cta-arrow-offset-y: -68px;
$cta-arrow-width: 6px;
$cta-arrow-height: 10px;
$cta-arrow-total-width: 300px;
$cta-arrow-total-height: 84px;
$cta-arrow-image: '../images/sprite.png';
$cta-arrow: (134px, 68px, -134px, -68px, 6px, 10px, 300px, 84px, '../images/sprite.png', 'cta-arrow', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 300px;
$logo-height: 68px;
$logo-total-width: 300px;
$logo-total-height: 84px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 300px, 68px, 300px, 84px, '../images/sprite.png', 'logo', );
$subhead-name: 'subhead';
$subhead-x: 0px;
$subhead-y: 68px;
$subhead-offset-x: 0px;
$subhead-offset-y: -68px;
$subhead-width: 128px;
$subhead-height: 16px;
$subhead-total-width: 300px;
$subhead-total-height: 84px;
$subhead-image: '../images/sprite.png';
$subhead: (0px, 68px, 0px, -68px, 128px, 16px, 300px, 84px, '../images/sprite.png', 'subhead', );
$cta-arrow-hover-2x-name: 'cta-arrow-hover@2x';
$cta-arrow-hover-2x-x: 256px;
$cta-arrow-hover-2x-y: 136px;
$cta-arrow-hover-2x-offset-x: -256px;
$cta-arrow-hover-2x-offset-y: -136px;
$cta-arrow-hover-2x-width: 12px;
$cta-arrow-hover-2x-height: 20px;
$cta-arrow-hover-2x-total-width: 600px;
$cta-arrow-hover-2x-total-height: 168px;
$cta-arrow-hover-2x-image: '../images/sprite-2x.png';
$cta-arrow-hover-2x: (256px, 136px, -256px, -136px, 12px, 20px, 600px, 168px, '../images/sprite-2x.png', 'cta-arrow-hover@2x', );
$cta-arrow-2x-name: 'cta-arrow@2x';
$cta-arrow-2x-x: 268px;
$cta-arrow-2x-y: 136px;
$cta-arrow-2x-offset-x: -268px;
$cta-arrow-2x-offset-y: -136px;
$cta-arrow-2x-width: 12px;
$cta-arrow-2x-height: 20px;
$cta-arrow-2x-total-width: 600px;
$cta-arrow-2x-total-height: 168px;
$cta-arrow-2x-image: '../images/sprite-2x.png';
$cta-arrow-2x: (268px, 136px, -268px, -136px, 12px, 20px, 600px, 168px, '../images/sprite-2x.png', 'cta-arrow@2x', );
$logo-2x-name: 'logo@2x';
$logo-2x-x: 0px;
$logo-2x-y: 0px;
$logo-2x-offset-x: 0px;
$logo-2x-offset-y: 0px;
$logo-2x-width: 600px;
$logo-2x-height: 136px;
$logo-2x-total-width: 600px;
$logo-2x-total-height: 168px;
$logo-2x-image: '../images/sprite-2x.png';
$logo-2x: (0px, 0px, 0px, 0px, 600px, 136px, 600px, 168px, '../images/sprite-2x.png', 'logo@2x', );
$subhead-2x-name: 'subhead@2x';
$subhead-2x-x: 0px;
$subhead-2x-y: 136px;
$subhead-2x-offset-x: 0px;
$subhead-2x-offset-y: -136px;
$subhead-2x-width: 256px;
$subhead-2x-height: 32px;
$subhead-2x-total-width: 600px;
$subhead-2x-total-height: 168px;
$subhead-2x-image: '../images/sprite-2x.png';
$subhead-2x: (0px, 136px, 0px, -136px, 256px, 32px, 600px, 168px, '../images/sprite-2x.png', 'subhead@2x', );
$spritesheet-width: 300px;
$spritesheet-height: 84px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($cta-arrow-hover, $cta-arrow, $logo, $subhead, );
$spritesheet: (300px, 84px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 600px;
$retina-spritesheet-height: 168px;
$retina-spritesheet-image: '../images/sprite-2x.png';
$retina-spritesheet-sprites: ($cta-arrow-hover-2x, $cta-arrow-2x, $logo-2x, $subhead-2x, );
$retina-spritesheet: (600px, 168px, '../images/sprite-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$cta-arrow-hover-group-name: 'cta-arrow-hover';
$cta-arrow-hover-group: ('cta-arrow-hover', $cta-arrow-hover, $cta-arrow-hover-2x, );
$cta-arrow-group-name: 'cta-arrow';
$cta-arrow-group: ('cta-arrow', $cta-arrow, $cta-arrow-2x, );
$logo-group-name: 'logo';
$logo-group: ('logo', $logo, $logo-2x, );
$subhead-group-name: 'subhead';
$subhead-group: ('subhead', $subhead, $subhead-2x, );
$retina-groups: ($cta-arrow-hover-group, $cta-arrow-group, $logo-group, $subhead-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
