// Stage settings
$stage-width: 300;
$stage-height: 600;
// Content settings
$content-x: 0;
$content-y: 68;
$content-width: 300;
$content-height: 532;
// Video settings
$video-x: 0;
$video-y: 68;
$video-width: 300;
$video-height: 532;



