/**
 * 970x250
 */
#main-container {
  #polite {
    .content {
      .copy-container {
        margin-top: 15px;
        margin-right: 20px;
        .subhead {
          margin: 1 0 0 0;
        }
      }
      .btn-container {
        #connect-btn {
          left: 199px;
          top: 144px;
        }
        #e-perform-btn {
          left: 674px;
          top: 85px;
        }
      }
      .layer-container {
        .layer {
          h1 {
            left: 29px;
            top: 62px;
          }
          p {
            left: 29px;
            top: 113px;
            letter-spacing: -0.2px;
          }
        }
        #e-perform-layer {
          h1 {
          }
          p {
          }
        }
        #connect-layer {
          h1 {
          }
          p {
          }
        }
      }
      footer {
        font-size: 10.2px;
        left: 58px;
        bottom: 20px;
      }
    }
    .logo-container {
      #cta-btn {
        width: 144px;
        height: 36px;
        top: 194px;
        left: 17px;
        .arrow {
          left: 126px;
          top: 13px;
        }
        .btn-label {
          position: absolute;
          left: 13px;
          top: 11px;
          font-size: 11px;
          letter-spacing: 0.25px;
        }
      }
    }
  }
}
