/**
 * 300x250
 */

#main-container {
  #polite {
    nav {
      position: absolute;
      top: $content-y + 77 + px;
      width: $content-width + px;
      pointer-events: none;
      .arrow-nav {
        width: 14px;
        height: 28px;
        margin: 0 10px;
        cursor: pointer;
        cursor: hand;
        pointer-events: all;
      }
      .left {
        background: url('../images/arrow-left.svg') no-repeat;
      }
      .right {
        float: right;
        background: url('../images/arrow-right.svg') no-repeat;
      }
    }
    #slide-container {
      position: absolute;
      left: -$content-width + px;
      top: $content-y + px;
      width: (3 * $content-width) + px;
      height: $content-height + px;
      .feature {
        position: relative;
        float: left;
        color: #ffffff;
        width: $content-width + px;
        height: $content-height + px;
        background-color: rgba(0, 0, 0, 0.8);
        background-color: red;
        h1 {
          left: 50px;
          font-size: 20.5px;
        }
        p {
          left: 50px;
          top: 48px;
          font-size: 12.3px;
          line-height: 16px;
        }
      }
      #e-perform-container {
        background: url('../images/bg-layer1.jpg') no-repeat;
        h1 {
          top: 20px;
          font-size: 19.5px;
          left: 24px;
        }
        p {
          top: 50px;
          left: 24px;
          letter-spacing: -0.1px;
        }
      }
      #connect-container {
        background: url('../images/bg-layer2.jpg') no-repeat;
        h1 {
          font-size: 19.5px;
          top: 20px;
          left: 39px;
        }
        p {
          top: 50px;
          left: 39px;
        }
      }
    }
    .content {
      .copy-container {
        float: none;
        position: absolute;
        margin-top: 0;
        margin-right: 0;
        top: 12px;
        left: 10px;
        .arrow {
          width: 10px;
          height: 14px;
        }
        h1 {
          background: url('../images/arrow.svg') no-repeat;
          background-position: 0 3px;
          padding-left: 16px;
          font-size: 19.5px;
        }
        .subhead {
          margin: 3px 0 0 16px;
          position: relative;
          float: none;
          @include retina-sprite($subhead-group);
        }
      }
      .btn-container {
        .icon-plus {
          border-radius: 16px;
          -webkit-border-radius: 16px;
          -moz-border-radius: 16px;
          width: 32px;
          height: 32px;
        }
        .icon-plus:after {
          width: 14px;
          height: 2px;
          top: 15px;
          left: 9px;
        }
        .icon-plus:before {
          width: 2px;
          height: 14px;
          top: 9px;
          left: 15px;
        }
        #connect-btn {
          left: 138px;
          top: 300px;
        }
        #e-perform-btn {
          left: 256px;
          top: 210px;
        }
        #restart-btn {
          position: absolute;
          width: 22px;
          height: 22px;
          bottom: 27px;
          left: 12px;
        }
      }
      footer {
        left: 10px;
        bottom: 5px;
        letter-spacing: 0.2px;
        line-height: 0.85rem;
        font-size: 0.63rem;
      }
    }
    .logo-container {
      position: absolute;
      #cta-btn {
        top: 0px;
        left: 0px;
      }
    }
  }
}
